@import '../../src/pages/index.css';
@import '../../src/pages/login.css';
@import '../../src/pages/profile.css';
@import '../../src/pages/signup.css';

:root {
  --font-family: Arial, Helvetica, sans-serif;
  --font-size: 1rem;

  --main-color: #3369f3;
  --secondary-color: #e4edfd;
  --background-color: #efefef;

  --margin: 20px;
  --padding: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body {
  height: 100%;
}

html > * {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

a {
  font-family: inherit;
  font-size: 1em;
  padding: 0.5em;
}

button {
  background-color: var(--main-color);
  border: none;
  border-radius: 12px;
  color: white;
  font-family: inherit;
  font-size: 1em;
  padding: 0.5em;
}

form {
  border: 2px solid var(--background-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: fit-content;
}

input {
  border: hidden;
  border-bottom: 2px solid var(--main-color);
  font-family: inherit;
  font-size: 1em;
  padding: 0.5em;
}

label {
  font-family: inherit;
  font-size: 1em;
  padding: 0.5em;
}

.circle {
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
