<div class='profile-page__button-panel'>
  <button class='button-panel__button circle'><i class='fa-solid fa-arrow-left'></i></button>
</div>
<div class='profile-page__profile'>
  <div class='profile__avatar-container'>
    <div class='avatar-container__avatar circle'>
    </div>
    <h2>{{name}}</h2>
  </div>
  <div class='profile__inputs'>
    {{{inputgroups}}}
  </div>
  <div class='profile__buttons'>
    {{{buttons}}}
  </div>
</div>
