{{#if type}}
  <div class='input-group {{#if column}}column{{/if}}'>
    <label class='input-group__label' for={{type}}>{{label}}</label>
    <input class='input-group__input' type={{type}}>
  </div>
{{/if}}
