{{!< main}}
<nav>
  <ul>
    <li><a href='./login.hbs'>Страница авторизации</a></li>
    <li><a href='./signup.hbs'>Страница регистрации</a></li>
    <li><a href='./user.hbs'>Страница пользователя</a></li>
    <li><a href='./profile.hbs'>Страница профиля</a></li>
    <li><a href='./404.hbs'>Страница 404</a></li>
    <li><a href='./5xx.hbs'>Страница 5хх ошибок</a></li>
    </ul>
</nav>
