{{!< main}}
<div class='profile'>  
  <h2>Профиль</h2>
  <div class='profile__avatar'></div>
  {{> inputgroup label='Почта' type='email'}}
  {{> inputgroup label='Логин' type='text'}}
  {{> inputgroup label='Имя' type='text'}}
  {{> inputgroup label='Фамилия' type='text'}}
  {{> inputgroup label='Имя в чате' type='text'}}
  {{> inputgroup label='Телефон' text='tel'}}
  {{> button text='Сохранить'}}
</div>
