<div class='contact'>
  <!-- Image -->
  <div class='contact__photo'></div>
  <div class='contact__name'>{{nick}}</div>
  <div class='contact__message-time'>{{message_time}}</div>
  <div class='contact__message-text'>{{message_text}}</div>
  <div class='contact__message-count'>{{message_count}}</div>
</div>
