<div class='user-page__left-panel'>
  <a class='left-panel__link' href='./profile.hbs'>Профиль ></a>
  <input class='left-panel__search' type='search' placeholder='&#128269;  Поиск'>
  {{> contact nick='Вася' message_time='07:11' message_text='Text text text text text text text text text text' message_count='3'}}
  {{> contact nick='Вася' message_time='07:11' message_text='Text text text text text text text text text text' message_count='3'}}
</div>
