{{!< main}}
<div class='user-page__right-panel'>
  <div class='right-panel__new-message'>
    <img class='new-message__paper-clip' src='../../static/images/attachment-2.svg' alt='paper clip'>
    <input class='new-message__input' type='text'>
    <p class='new-message__button'>&#8594;</p>
  </div>
  <div class='right-panel__messages'>
    <p>Messages</p>
  </div>
  <div class='right-panel__contact-name'>
    <p>Name</p>
    <p>Button</p>
  </div>
</div>
