<div class='right-panel__top-panel'>
  <div class='top-panel__avatar-container circle'>
  </div>
  <h3 class='top-panel__name'>{{name}}</h3>
  <button class='top-panel__button'><i class='fa-solid fa-ellipsis-vertical'></i></button>
</div>
<div class='right-panel__messages'>
</div>
<div class='right-panel__bottom-panel'>
  <button class='bottom-panel__actions-button'><i class='fa-solid fa-paperclip'></i></button>
  <input class='bottom-panel__input' name='message'>
  <button class='bottom-panel__send-button circle'><i class='fa-solid fa-arrow-right'></i></button>
</div>
