<div class='right-panel__top-panel'>
  <div class='top-panel__avatar-container circle'>
  </div>
  <h3 class='top-panel__name'>{{name}}</h3>
  <button class='top-panel__button'><i class='fa-solid fa-ellipsis-vertical'></i></button>
</div>
{{{messagepanel}}}
{{{bottompanel}}}
