.right-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.right-panel__top-panel {
  align-items: center;
  border-bottom: 3px solid $background-color;
  column-gap: 1em;
  display: flex;
  padding: 0.5em;
}

.top-panel__avatar-container {
  background-color: $background-color;
  width: 5em;
}

.top-panel__name {
  flex-grow: 1;
}

.top-panel__button {
  background-color: inherit;
  color: black;
  height: 3em;
  width: 3em;
}

.right-panel__messages {
  flex-grow: 1;
  flex-direction: column-reverse;
  display: flex;
}

.right-panel__message {
  background-color: $background-color;
  border-radius: 5%;
  display: flex;
  margin: 0.5em;
  padding: 0.5em;
  width: 50%;
}

.right-panel__my-message {
  align-self: flex-end;
  background-color: $background-color;
  border-radius: 5%;
  display: flex;
  margin: 0.5em;
  padding: 0.5em;
  width: 50%;
}

.right-panel__bottom-panel {
  align-items: flex-end;
  border-top: 3px solid $background-color;
  column-gap: 1em;
  display: flex;
  padding: 0.5em;
}

.bottom-panel__actions-button {
  background-color: inherit;
  color: black;
}

.bottom-panel__input {
  background-color: $background-color;
  border: none;
  border-radius: 8px;
  flex-grow: 1;
}
